h3{
    color:aqua;
    text-align: center;
    text-shadow: 2px 2px 2px blue;
    /* text-decoration-line:underline ;
    text-decoration-thickness: 5px;
    text-decoration-style: dotted ;
    text-decoration-color: aquamarine ; */
    text-decoration: 5px dotted underline aquamarine;
}
p{
    color:cadetblue;
    background-image: url("./appu.jpg");
    background-repeat: no-repeat;
    border: 1px solid chocolate;

}