<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assignmentcommon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   <article>
        <nav>
           <nav id="nav"> <div><img src="https://mobirise.com/extensions/ideam5/saas-design-tool/assets/images/logo.png" alt="" height="20px" width="20px">
                IdeaM5</div>
                <div>Teams</div>
                <div>Showcase</div>
                <div>Developers</div>
                <div>Resources</div>
                <div>Blog</div>
                <div>Pricing</div></nav>
            <nav><button>Sign up for free</button></nav>
        </nav>
    </article>
<div id="d">
    <section>
        <h1>Create a website with <br>
            SaaS Design Tool <br>
            that will impress your <br>
            customers.</h1>
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>
            incididunt</h5>
         <button>Free 30 Days Trail</button> 
      
    </section>
<main id="main">
    <div>
        <font style="color: darkgrey;">
            <h3 id="h3" ><a href="" style="text-decoration: none;">FREE</a>This is best place to offer something more to customer & increase the conversion rate. 
            <a href="" style="text-decoration: none;"> Learn more.</a>
            </h3>
        </font>
    </div>
    <div class="div">
        <div><h2>Fully Responsive</h2>
        <font style="color: darkgrey;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br>
            ad minim veniam, quis nostrud.</p>
        </font>
        </div>
        <div>
            <h2>Well Documented</h2>
           <font style="color: darkgrey;"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br>
                ad minim veniam, quis nostrud.</font>
            </p>
        </div>
    </div>
    <div class="div">
        <div>
            <h2>Easy To Use</h2>
            <font style="color: darkgrey;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br>
                ad minim veniam, quis nostrud.
            </p>
            </font>
        </div>
        <div>
            <h2>Lightning Fast</h2>
            <font style="color: darkgrey;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br>
                ad minim veniam, quis nostrud.
            </p>
            </font>
        </div>
    </div>
    <div id="d1">
        <div ><img class="img" src="https://mobirise.com/extensions/ideam5/saas-design-tool/assets/images/pexels-kevin-ku-577585.jpg" alt="" height="500px" width="500px"></div>
        <div>
            <h2>This is amazing dashboard</h2>
            <font style="color: darkgrey;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                sed do eiusmod tempor incididunt ut labore et dolore <br>
                 magna aliqua. Ut enim ad minim veniam, quis nostrud <br>
                  officia deserunt mollit exercitation.
            </p>
            <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. <br>
                 Duis aute irure dolor in reprehenderit in voluptate velit esse <br>
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint <br>
                   occaecat cupidatat non proident, sunt in culpa qui anim id <br>
                    est laborum.</p>
        </font>
            <button id="button">Learn More</button>
        </div>
    </div>
    <div id="d2">
        <div>
            <h2>This is amazing dashboard</h2>
            <font style="color: darkgrey;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                sed do eiusmod tempor incididunt ut labore et dolore <br>
                 magna aliqua. Ut enim ad minim veniam, quis nostrud <br>
                  officia deserunt mollit exercitation.
            </p>
            <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. <br>
                 Duis aute irure dolor in reprehenderit in voluptate velit esse <br>
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint <br>
                   occaecat cupidatat non proident, sunt in culpa qui anim id <br>
                    est laborum.</p>
        </font>
        </div>
            <div ><img class="img" src="https://mobirise.com/extensions/ideam5/saas-design-tool/assets/images/pexels-kevin-ku-577585.jpg" alt="" height="500px" width="500px"></div>

        </div>
        <button id="button1">Learn More</button>

    </div>
    
    <center>
        <span>   
        <main id="m1">
            <h3>It's as ease as 1 - 2 - 3!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing <br>
                elit, sed do eiusmod tempor incididunt ut labore et <br>
                dolore magna aliqua.</p>
            <aside>
                <i class="fa-solid fa-list-ul"></i>
                Sign Up
            </aside>
            <aside>
                <i class="fa-solid fa-list-ul"></i>
                Add Users
            </aside>
            <aside>
                <i class="fa-solid fa-list-ul"></i>
                Assign Task
            </aside>
        </main>
    </span>
    </center>
</main>
    <div id="text">
   
        <div class="d3">
            <article>
                <h3>Fully Responsive</h3>
                <p>Lorem ipsum dolor sit amet, consectetur <br>
                    adipiscing elit, sed do eiusmod.</p>
            </article>
            <article>
                <h3>Retina Ready</h3>
                <p>Lorem ipsum dolor sit amet, consectetur <br>
                    adipiscing elit, sed do eiusmod.</p>
            </article>   
        </div>
        
            <div class="d3">
            <article>
                    <h3>Lightning Fast</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit, sed do eiusmod.</p>
                    </article>
                    <article>
                    <h3>Google Fonts</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit, sed do eiusmod.</p>
                </article>  
            </div>

        <div class="d3">
            <article>
                 <h3>Light Weight</h3>
                <p>Lorem ipsum dolor sit amet, consectetur <br>
                    adipiscing elit, sed do eiusmod.</p>
                </article>
                <article>
                    <h3>Easy To Edit</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit, sed do eiusmod.</p>
            </article>  
        </div>
    </div>

    <div id="d4">
        <h3>Create Your Account Now!</h3>
        <h2>Get 30 days trial. No credit card required. </h2>
        <button id="sub1">SIGN UP</button>
    </div>

    <div id="d5">
        <div id="t">
            <h3>Watch and learn</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="sub2">Subscribe on YouTube</button>
        </div>
        <div><img class="img" src="https://mobirise.com/extensions/ideam5/saas-design-tool/assets/images/pexels-negative-space-97077.jpg" height="500px" width="500px" alt=""></div>
    </div>

    <div id="d6">
    <h1>Be in touch</h1>
    <p>Lorem ipsum dolor sit amet, consectetur <br>
        adipiscing elit, sed do eiusmod tempor <br>
        incididunt ut labore.</p>
    <input style="padding: 15px 25px; font-size: 15px;" type="email" placeholder="Your email">
    <button class="sub2">Start Now</button>
</div>


</body>
</html>