#nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(74, 74, 92);
    color: white;
    height: 100px;
}
#nav1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    font-size: 20px;
}
*{
    padding: 0;margin: 0;
    border-color: black;
}
#cont1{
    background-color: black;
    color: white;
    padding: 60px;
    font-size: 2rem;
  
}
#img{
    display: flex;
    justify-content: space-around;
    /* height: 50vh;
    width: 100vh; */
    padding: 50px;
    background-color: black;
    color: white;
   

}
#cont2{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-size: 20px;

}
#cont3{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;   
    padding-top: 100px;
    
}
.cont4{
    font-size: 20px;
    padding-bottom: 100px;
    padding-top: 100px;
    
}
#cont5{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;   
    margin-top: 100px;
    
}
#cont6{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
   font-size: 30px; 
   padding-top: 150px;
}
#cont7{
        display: flex;
        justify-content: space-around;
        background-color: black;
        color: white;
        padding:100px 50px;
        font-size: 20px; 
}
#cont8{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    /* padding:100px 50px; */
    font-size: 20px; 
}
.cards{
    padding: 50px 20px;
    margin: 150px 50px;
    border: 1px solid white;
    height: 40vh;width: 30vh;
}
#cont9{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-size: 20px; 
}