*{
    margin: 0;
    padding: 0;
}
#grid{
    height: 80vh;
    width: 80vh;
    display: grid;
    gap: 10px;
    border: 1px solid black;
    grid-template-areas: "header header header header"
                         "sdbr sdbr sectn sectn"
                         "sdbr sdbr sectn sectn"
                         "sdbr sdbr sectn sectn"
                         "ftr  ftr  ftr   ftr";
}
.items{
    border: 1px solid blue;
    border-color: aqua;
    background-color: blue;
}
#i1{
    grid-area: header;
}
#i2{
    grid-area: sdbr;
}
#i3{
    grid-area: sectn;
}
#i4{
    grid-area: ftr;
}