<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="temp.css">
</head>
<body>
    
    <nav id="nav">
        <div id="c"><img src="https://mobirise.com/extensions/modulem5/consulting-business/assets/images/logo.png" alt="" height="30px" width="30px">Consulting Business</div>
        <section id="m">
            <nav>Home </nav><br>
            <nav>Team </nav><br>
           <nav>About us</nav> <br>
            <nav>Contacts</nav> <br>
           <nav> Price</nav>
        </section>
        <div id="s">Start now</div>
    </nav>
    <section id="sect">
        <main>Consulting <br> Business</main> <br>
        <img src="https://mobirise.com/extensions/modulem5/consulting-business/assets/images/image8.jpg" alt="" id="img" height="500px" width="500px">
    </section>

    <div id="button">
        <a href="">Start now</a>
        <div>mobi@rise.com </div>
       <div> 24December,2030</div>
    </div>
    <div id="Our">Our best team</div>

    <section id="images4">
        <div>01<img src="https://mobirise.com/extensions/modulem5/consulting-business/assets/images/image12.jpg" alt="" height="300px" width="300px">Robert Alvarez

            mobi@rise.com</div>
        <div>02<img src="https://mobirise.com/extensions/modulem5/consulting-business/assets/images/image13.jpg" alt="" height="300px" width="300px">Doris Ray

            mobi@rise.com</div>
        <div>03<img src="https://mobirise.com/extensions/modulem5/consulting-business/assets/images/image3.jpg" alt="" height="300px" width="300px">Mark Smith

            mobi@rise.com</div>
        <div>04<img src="https://mobirise.com/extensions/modulem5/consulting-business/assets/images/image7.jpg" alt="" height="300px" width="300px">Brian Gross

            mobi@rise.com</div>
    </section>

    <main id="main">
        <div class="text">
            <p>Dolor sit amet, consectetur adipisicing elit. Cumque, dolore esse eveniet excepturi <br> laudantium libero, nulla optio praesentium, quia similique veritatis vero? Cum deserunt <br> maiores, necessitatibus nesciunt quod recusandae reiciendis.</p>
            <h1 class="h1">Business <br> product</h1>
        </div>
        <div class="text">
            <p>similique sit, consectetur adipisicing elit. Cumque, dolore esse eveniet excepturi <br> laudantium libero, nulla optio praesentium, quia similique veritatis vero? Cum deserunt maiores.</p>
            <h1 class="h1">Consulting <br> product</h1>
        </div>
        <div class="text">
            <p></p>
            <h1 class="h1"></h1>
        </div>
        <div class="text">
            <p>Consectetur adipisicing elit. Cumque, dolore esse eveniet excepturi laudantium libero, <br> nulla optio Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto <br> aspernatur beatae deleniti dignissimos dolore error.</p>
            <h1 class="h1">About our <br> business</h1>
        </div>
        <div class="text">
            <p>Recusandae sit amet, consectetur adipisicing elit. Cumque, dolore esse eveniet excepturi <br> laudantium libero, nulla optio praesentium, quia similique veritatis vero? Cum deserunt maiores.</p>
            <h1 class="h1">About our <br> company</h1>
        </div>

        <main id="main1">
            <p>Examples of our work</p>
            <p>Quam, reprehenderit velit. Consequatur <br> cumque eos eum molestiae omnis.</p>
        </main>
        <main id="main2">
            <h1>Сonsulting <br>tasks <br> Business</h1>
            <div><img id="img1" src="https://mobirise.com/extensions/modulem5/consulting-business/assets/images/image14.jpg" height="300px" width="300px" alt=""> <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem <br> dolores excepturi ipsam quod rerum <br> saepe totam veniam.</div>
        </main>

        <main class="main3">
            <div class="main3">
             <h1>Impedit ipsam iure <br>
                magni mollitia,<br>
                numquam omnis <br>
                perferendis <br>
                perspiciatis quas <br>
                sed sequi suscipit.
            </h1>
            <div class="">
                <P>Consectetur adipisicing elit alias <br> assumenda.</P>
                <P>Consectetur consequuntur <br>
                     debitis deserunt dicta eos illum <br>
                     iure minus modi nesciunt <br>
                     provident ratione sit amet.</P>
            </div>
            </div>
            <div id="div1">
                <hr>
                <h3>Perferendis</h3>
                <p>Soluta temporibus ullam. Cumque dicta <br>
                     eum mollitia nihil odio quibusdam sint <br>
                     tempora veritatis. Ab cum totam <br>
                     veniam.</p>
                <u><p>
                    Sit Amet <br>
                    Consectetur Adipisicing <br>
                    Accusantium Adipisci <br>
                    Debitis Dicta <br>
                    Laboriosam Maiores <br>
                    Similique Voluptatibus
                </p></u>
                <hr>
            </div>

        </main>
        <main id="main4">
            <h3>Our work</h3>
            <h3>Cum inventore magnam non <br>
                quisquam voluptates adipisicing <br>
                elit aliquam architecto.</h3>
            <h3>Find out more</h3>
        </main>
        <main id="main5">
            <h1>Our main <br>
                project</h1>
            <p>Adipisicing elit. A commodi cupiditate doloremque
                esse, explicabo impedit incidunt iusto libero <br>
                magnam maiores natus nulla numquam officiis <br>
                omnis, quas quasi quo sint vitae.
                
                </p>
            </main>
            
                <center><h1>Send message</h1></center>
                 <main id="main6">
                <div> 
                    <h4>Phone <br> (987) 654 321 211</h4>
                    <h4>Email <br> mobi@rise.com</h4>
                    <h4>Address <br>Sofie-Reuter-Weg 5c <br>
                        75946 Erfurt</h4>
                </div>
                <div>
                <input type="text" placeholder="Your name"> <br>
                <input type="email" placeholder="Your email"> <br>
                <input type="text" What your question?>
                </div>
            </main>
           <center> <button id="button1">send</button></center>
    </main>
</body>
</html>